## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Qaanaaq,GL,77.4840,-69.3632,15.24,70,49,9.75,scattered clouds
1,1,Hilo,US,19.7297,-155.0900,75.79,80,75,0.00,light rain
2,2,Dingle,PH,10.9995,122.6711,74.34,96,94,2.80,overcast clouds
3,3,Labuhan,ID,-6.8844,112.2051,78.42,80,49,6.87,scattered clouds
4,4,Hobart,AU,-42.8794,147.3294,44.46,74,40,3.00,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Hilo,US,19.7297,-155.0900,75.79,80,75,0.00,light rain
3,3,Labuhan,ID,-6.8844,112.2051,78.42,80,49,6.87,scattered clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.45,76,65,21.21,light rain
8,8,Castro,BR,-24.7911,-50.0119,87.15,35,1,8.52,clear sky
16,16,Avarua,CK,-21.2078,-159.7750,75.25,88,75,4.61,broken clouds
20,20,Auki,SB,-8.7676,160.7034,76.23,90,44,3.42,scattered clouds
31,31,La Asuncion,VE,11.0333,-63.8628,76.73,88,98,13.80,overcast clouds
41,41,Lorengau,PG,-2.0226,147.2712,78.80,83,100,4.76,very heavy rain
42,42,Kapaa,US,22.0752,-159.3190,78.12,79,75,4.00,light rain
47,47,Lata,PT,40.1629,-8.3327,80.04,58,0,4.81,clear sky

In [13]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.count()
#missing_rows = preferred_cities_df.isnull()
np.where(pd.isnull(preferred_cities_df))

(array([ 98, 111], dtype=int64), array([2, 2], dtype=int64))

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Hilo,US,19.7297,-155.0900,75.79,80,75,0.00,light rain
3,3,Labuhan,ID,-6.8844,112.2051,78.42,80,49,6.87,scattered clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.45,76,65,21.21,light rain
8,8,Castro,BR,-24.7911,-50.0119,87.15,35,1,8.52,clear sky
16,16,Avarua,CK,-21.2078,-159.7750,75.25,88,75,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
653,653,Columbus,US,39.9612,-82.9988,83.32,70,90,1.01,overcast clouds
654,654,Solano,US,38.2333,-121.9511,79.90,31,1,17.27,clear sky
656,656,Padang,ID,-0.9492,100.3543,77.05,88,75,3.98,light rain
658,658,Bambanglipuro,ID,-7.9500,110.2833,75.87,84,53,2.82,broken clouds
660,660,Touros,BR,-5.1989,-35.4608,86.90,59,14,16.28,few clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hilo,US,75.79,light rain,19.7297,-155.0900,
3,Labuhan,ID,78.42,scattered clouds,-6.8844,112.2051,
7,Atuona,PF,77.45,light rain,-9.8000,-139.0333,
8,Castro,BR,87.15,clear sky,-24.7911,-50.0119,
16,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
20,Auki,SB,76.23,scattered clouds,-8.7676,160.7034,
31,La Asuncion,VE,76.73,overcast clouds,11.0333,-63.8628,
41,Lorengau,PG,78.80,very heavy rain,-2.0226,147.2712,
42,Kapaa,US,78.12,light rain,22.0752,-159.3190,
47,Lata,PT,80.04,clear sky,40.1629,-8.3327,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

count_except = 0
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        #print("Hotel not found... skipping.")
        count_except += 1
count_except

9

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name']!=u'']
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hilo,US,75.79,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Labuhan,ID,78.42,scattered clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
7,Atuona,PF,77.45,light rain,-9.8000,-139.0333,Villa Enata
8,Castro,BR,87.15,clear sky,-24.7911,-50.0119,CHACARA BAILLY
16,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
653,Columbus,US,83.32,overcast clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...
654,Solano,US,79.90,clear sky,38.2333,-121.9511,Travis AFB FamCamp
656,Padang,ID,77.05,light rain,-0.9492,100.3543,Mercure Padang
658,Bambanglipuro,ID,75.87,broken clouds,-7.9500,110.2833,Puri Brata
660,Touros,BR,86.90,few clouds,-5.1989,-35.4608,INN NEW HORIZON

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPY_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

max_temp = clean_hotel_df["Max Temp"]

fig.add_layer(heat_layer)

# Add a heatmap of temperature for the vacation spots and marker for each city.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))